@media print {
  .markdown-css *,
  .markdown-css *:before,
  .markdown-css *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .markdown-css a,
  .markdown-css a:visited {
    text-decoration: underline;
  }

  .markdown-css a[href]:after {
    content: " (" attr(href) ")";
  }

  .markdown-css abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .markdown-css a[href^="#"]:after,
  .markdown-css a[href^="javascript:"]:after {
    content: "";
  }

  .markdown-css pre,
  .markdown-css blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  .markdown-css thead {
    display: table-header-group;
  }

  .markdown-css tr,
  .markdown-css img {
    page-break-inside: avoid;
  }

  .markdown-css img {
    max-width: 100% !important;
  }

  .markdown-css p,
  .markdown-css h2,
  .markdown-css h3 {
    orphans: 3;
    widows: 3;
  }

  .markdown-css h2,
  .markdown-css h3 {
    page-break-after: avoid;
  }
}

.markdown-css html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  .markdown-css html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .markdown-css html {
    font-size: 16px;
  }
}

.markdown-css body {
  line-height: 1.85;
}

.markdown-css p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.markdown-css h1,
.markdown-css h2,
.markdown-css h3,
.markdown-css h4,
.markdown-css h5,
.markdown-css h6 {
  text-align: left;
  margin: 0.8rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

.markdown-css h1 {
  color: #4d86ac ;
  margin-top: 0;
  font-size: 3rem;
}

.markdown-css h2 {
  color: #4ca4aa;
  font-size: 2.4rem;
}

.markdown-css h3 {
  color: #a477d8;
  font-size: 1.9rem;
}

.markdown-css h4 {
  color: #b4568a;
  font-size: 1.5rem;
}

.markdown-css h5 {
  color: #6e74c2;
  font-size: 1.2rem;
}

.markdown-css h6 {
  color: #2899bb;
  font-size: 1.0rem;
}

.markdown-css small {
  font-size: .70em;
}

/* https://github.com/mrmrs/fluidity */

.markdown-css img,
.markdown-css canvas,
.markdown-css iframe,
.markdown-css video,
.markdown-css svg,
.markdown-css select,
.markdown-css textarea {
  max-width: 90%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

.markdown-css body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  margin: 6rem auto 1rem;
  max-width: 48rem;
}

.markdown-css img {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}

.markdown-css a,
.markdown-css a:visited {
  color: #3498db;
}

.markdown-css a:hover,
.markdown-css a:focus,
.markdown-css a:active {
  color: #29a0d9;
}

.markdown-css pre {
  background-color: #eeeeee;
  padding: 1rem;
  text-align: left;
}

.markdown-css blockquote {
  margin: 0;
  border-left: 5px solid #b9b8b8;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}

.markdown-css ul,
.markdown-css ol,
.markdown-css li {
  color: #494949;
  text-align: left;
}

.markdown-css p {
  color: #494949;
}
